@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(./img/wallpaper.png) ;
    background-size: cover;
    background-position: center;
}

.container {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    padding: 30px 40px;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
}

.container h1 {
    font-size: 36;
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid ;
    background-color: transparent;
    border-radius: 4px;
    outline: none;
    color: #333;
}


button {
    width: 100%;
    height: 50px;
    background-color: #333;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    margin-top: 20px;
}

button:hover {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    color: #fff;
    transition: 0.5s;
}

.resultado {
    margin-top: 15px;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
}

.resultado.sucesso {
    border: 1px solid;
    background: transparent;
    color: #11e214;
    transition: 0.5s;
    backdrop-filter: blur(100px);
}

.resultado.erro {
    border: 1px solid;
    background: transparent;
    color: #ee0a06;
    backdrop-filter: blur(100px);
}